<!DOCTYPE html>
<html>
  <head>
    <title>엘리베이터 위치</title>
    <script type="text/javascript" src="https://code.jquery.com/jquery-3.1.1.min.js"></script>
<script type="text/javascript" src="https://maps.google.com/maps/api/js?key=AIzaSyAYtQfNGdVhFqHsQt0OgLjojPwkM5M5aM8" ></script>
    <style>
      #map_ma {width:100%; height:400px; clear:both; border:solid 1px red;}
      .favorite_button {
        border-radius: 3rem;
        background-color: #0a0a23;
        color: #fff;
        border:none;
        margin-bottom: 1cm;
        
      }
      p {
        border-width: 8px;
        border-style: solid;
        border-color: rgb(3, 3, 3);
        padding: 12px;
        background-color: aliceblue;
        border-radius: 3rem;
        /* 축약형 */
        border: 5px solid rgba(0, 1, 2, 0);
        margin-bottom: 0.4cm;
      }
      .ela {
        margin-top:1.1cm;
        background-color: rgb(255, 255, 255);
        color: rgb(82, 81, 81);
        border-radius: 1rem;
        font-size:larger;
        font-weight: 600;
      }
      .hl{
        color: rgb(82, 81, 81);
        font-weight: 600;
      }
    </style>
    <%- include('../partials/head') %>
  </head>
  <body>
    <%- include('../partials/nav') %>

    <div class="container mb-3">
      <div class="container px-4 py-5" id="icon-grid">
        <div>
        <h2 class="pb-2 border-bottom"><%= station_name %>역</h2>


        <div>최대 3개까지 입력 가능합니다. </div>
        <div> 

         
        </div>

          <div>
            <%if(currentUser.favorites.includes(station_name)){ %>
              <div>                  
                <button type="submit"
                class="favorite_button" type="submit" name="delete_button"
               onclick="location.href='/users/delete/<%= currentUser.username %>?subway_name=<%= station_name %>'"> 삭제</button>
                        </div>
              <% }
              else{  %>
                <div>                  
                  <button type="submit"
                  class="favorite_button" type="submit" name="add_button"
                 onclick="location.href='/users/<%= currentUser.username %>?subway_name=<%= station_name %>'"> 즐겨찾는 역으로 등록</button>
                          </div>
             <% } %> 
          
          
          </div>



        <!--<p><%= line_number %>호선</p>-->

        
          <div class="col d-flex align-items-start">
          
            <div>
              
              <div class="hl">미세먼지 정도</div>
              <p>
              현재 <%= station_name %>의 미세먼지 정도는 <%= dust_state %>이에요.</p>
              <div class="hl">혼잡도 정도</div>
              
              <p>
                현재 <%= station_name %>은 <%= complexity_state %>한 편이에요!        
              </p>

              <div>
                <div>
                  
                  <div class="ela">엘리베이터와 리프트 위치를 아래 지도에서 확인 가능합니다. </div>
                  <div>
                   <%= Elevator_Y%> 
                   <%= Elevator_Y[0]%>
                   <%= Elevator_X%>
                 </div>
                  <div id="map_ma"></div>
                  <script type="text/javascript">
          
                    
          
          
                $(document).ready(function() {
                  

                  var elevator_x ;
                  var elevator_y ;

              
                console.log("js 개별 엘리베이터 확인");
                elevator_x ="<%= Elevator_X[0]%>"; 
                elevator_y ="<%= Elevator_Y[0]%>";
              
                console.log("<%= Elevator_Y[0]%>");
                console.log(elevator_y);
                 console.log("<%= Elevator_X[0]%>");
                 console.log(elevator_x);
                 console.log("2번재 엘리베이터 잘 찍히는지 확인");
                 console.log("<%= Elevator_Y[1]%>");
                 console.log("<%= Elevator_X[1]%>");
                 
                elevator_length = "<%= Elevator_length%>";
                 
                elevator_y_array = JSON.parse('<%- JSON.stringify(Elevator_Y) %>'); 
                elevator_x_array = JSON.parse('<%- JSON.stringify(Elevator_X) %>'); 
                console.log("새로운 방식");
                console.log(elevator_y_array);
                console.log(elevator_x_array);
                  


                 console.log("js 전체 엘리베이터 집합");
                  console.log(elevator_x_array);
                  console.log(elevator_y_array);
                  console.log(elevator_x_array.length);


                  console.log("엘리베이터 개수");
                 console.log("<%= Elevator_length%>");
              
                 
                 var zoomLevel		= 18;				// 지도의 확대 레벨 : 숫자가 클수록 확대정도가 큼
                  var markerTitle		= "엘리베이터";		// 현재 위치 마커에 마우스를 오버을때 나타나는 정보
                  var markerTitle2 = "리프트"
                  var markerMaxWidth	= 300;				// 마커를 클릭했을때 나타나는 말풍선의 최대 크기
                    
                // 말풍선 내용
                   var contentString	= '<div>' +
                  '<h2>엘리베이터</h2>'+
                  '<p>이 위치에 엘리베이터가 있습니다.</p>' +
                  
                  '</div>';
          
                  var contentString2 = '<div>' +
                  '<h2>리프트</h2>'+
                  '<p>이 위치에 리프트가 있습니다.</p>' +
                  
                  '</div>';

                for(var i =0; i<elevator_length; i++){
                  console.log("for잘 돌아간다 ");
                  console.log(elevator_y_array[i]);
                  console.log(elevator_x_array[i]);
                  

                 var myLatlng = new google.maps.LatLng(elevator_y_array[0],elevator_x_array[0]);
                 
                

                  //var myLatlng2 = new google.maps.LatLng(elevator_y_array[2],elevator_x_array[2]);
                  var mapOptions = {
                            zoom: zoomLevel,
                            center: myLatlng,
                            mapTypeId: google.maps.MapTypeId.ROADMAP
                          }
                  // var mapOptions_sample = {
                  //           zoom: zoomLevel,
                  //           center: myLatlng2,
                  //           mapTypeId: google.maps.MapTypeId.ROADMAP
                  //         }
                  var map = new google.maps.Map(document.getElementById('map_ma'), mapOptions);
                  //var map_sample = new google.maps.Map(document.getElementById('map_ma'), mapOptions);
                  // var marker = new google.maps.Marker({
                  //                     position: myLatlng,
                  //                     map: map,
                  //                     title: markerTitle
                  // });

                  var infowindow = new google.maps.InfoWindow();

                  for(var i = 0; i<elevator_length; i++){
                    marker = new google.maps.Marker({
                      id:i,
                      position:new google.maps.LatLng(elevator_y_array[i],elevator_x_array[i]),
                      map:map
                    });


                    google.maps.event.addListener(marker,'click',(function(marker,i){
                      return function(){
                        infowindow.setContent("엘리베이터 위치");
                        infowindow.open(map,marker);
                      }
                    })(marker,i));
                    if(marker)
                    {
                      marker.addListener('click', function(){
                      map.setZoom(15);
                      map.setCenter(this.getPosition());

                      });
                    }
                  }


                  // var marker_sample = new google.maps.Marker({
                  //                     position: myLatlng2,
                  //                     map: map,
                  //                     title: markerTitle
                  // });

                 

                  // var infowindow = new google.maps.InfoWindow(
                  //                       {
                  //                         content: contentString,
                  //                         maxWizzzdth: markerMaxWidth
                  //                       }
                  //     );
                  // var infowindow_sample = new google.maps.InfoWindow(
                  //                       {
                  //                         content: contentString,
                  //                         maxWizzzdth: markerMaxWidth
                  //                       }
                  //     );


                  //   google.maps.event.addListener(marker, 'click', function() {
                  //   infowindow.open(map, marker);
                  
                  // }  );   

                  
                  // google.maps.event.addListener(marker_sample, 'click', function() {
                  //   infowindow_sample.open(map, marker_sample);
                  
                  // }  );   

                }  
         
                  
          
                    
                
             
                });
          
                    </script>        
          
                </div>
          
                  
          
                </div>

            </div>
          </div>
          <div class="col d-flex align-items-start">
            <svg
              class="bi text-muted flex-shrink-0 me-3"
              width="1.75em"
              height="1.75em"
            >
              <use xlink:href="#bootstrap" />
            </svg>
          
  
      

          <div class="col d-flex align-items-start">
            <svg
              class="bi text-muted flex-shrink-0 me-3"
              width="1.75em"
              height="1.75em"
            >
              <use xlink:href="#calendar3" />
            </svg>
            <div>
              
            </div>

          </div>
        
        
      </div>
   
      

  </body>
</html>