<!DOCTYPE html>
<html>
  <head>
    <style>
      .favorite_button {
        border-radius: 3rem;
        background-color: #0a0a23;
        color: #fff;
        border:none;
      }
      p {
        border-width: 8px;
        border-style: solid;
        border-color: rgb(3, 3, 3);
        padding: 12px;
        background-color: aliceblue;
        border-radius: 3rem;
        /* 축약형 */
        border: 5px solid rgba(0, 1, 2, 0);
      }
    </style>
    <%- include('../partials/head') %>
  </head>
  <body>
    <%- include('../partials/nav') %>

    <div class="container mb-3">
      <div class="container px-4 py-5" id="icon-grid">
        <div>
        <h2 class="pb-2 border-bottom"><%= station_name %>역</h2>
        <div>최대 3개까지 입력 가능합니다. </div>
        <button type="submit"
         class="favorite_button" type="submit" 
        onclick="location.href='/users/<%= currentUser.username %>?subway_name=<%= station_name %>'"> 즐겨찾는 역으로 등록</button>

        <!--<p><%= line_number %>호선</p>-->

        <div
          class="row row-cols-1 row-cols-sm-2 row-cols-md-3 row-cols-lg-4 g-4 py-5"
        >
          <div class="col d-flex align-items-start">
            <svg
              class="bi text-muted flex-shrink-0 me-3"
              width="1.75em"
              height="1.75em"
            >
              <use xlink:href="#home" />
            </svg>
            <div>
              <h4 class="fw-bold mb-0"></h4>

              <p>현재 <%= station_name %>의 미세먼지 정도는 <%= dust_state %>이에요.</p>
            </div>
          </div>
          <div class="col d-flex align-items-start">
            <svg
              class="bi text-muted flex-shrink-0 me-3"
              width="1.75em"
              height="1.75em"
            >
              <use xlink:href="#bootstrap" />
            </svg>
            <div>
              <!-- 아직 불러오지 않은 부분 -->
              <p>
                물품 보관함의 위치는 6번 출구 주변, 2번 출구 주변, 5번 출구
                주변이에요
              </p>
              <p>한아름 빌딩이 있습니다.</p>
            </div>
          </div>

          <div class="col d-flex align-items-start">
            <svg
              class="bi text-muted flex-shrink-0 me-3"
              width="1.75em"
              height="1.75em"
            >
              <use xlink:href="#calendar3" />
            </svg>
            <div>
              <p>
                <i class="fa-regular fa-face-smile"></i>

                현재 <%= station_name %>은 <%= complexity_state %>한 편이에요!
              </p>
            </div>
           
          </div>
        
        </div>
      </div>
    </div>
  </body>
</html>