<!DOCTYPE html>
<html>
  <head>

    <style>
      .location_button {
        background-color: transparent;
        border:none;
      }

      .click_button {
        color:blueviolet;

      }
    </style>
    <%- include('../partials/head') %>
  </head>
  <body>
    <%- include('../partials/nav') %>
      
    <div class="container mb-3">


      <form class="user-form" action="/users" method="post">
        <fieldset disabled>
          <div class="form-group row">
           
    
          </div>
          <div class="form-group row">
            
            
          </div>
        </fieldset>
      </form>
      <h5 class="contentBoxTop">username: <%= user.username %></h5>
      <h4 class="pb-2 border-bottom">자주가는 역 : </h4>

        <button type="submit" class="location_button" onclick="location.href='/station?subway_name=<%= subway_name1 %>'"><div class="click_button"><%= subway_name1 %></div></button> 
         <button type="submit" class="location_button" onclick="location.href='/station?subway_name=<%= subway_name2 %>'"><div class="click_button"><%= subway_name2 %></div></button> 
        
      
      
      <div>
        
 
  
      </div>
        
    </div>
  </body>
</html>
